{% extends 'course_mgmt/base.html' %}
{% load staticfiles %}

{% block title %}Courses Delete Page{% endblock %}

<!-- link to css file for this page -->
{% block link_css%}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'course_mgmt/css/styles.css' %}" media="screen" title="no title"  charset="utf-8">
{% endblock %}

{% block templatehead %}Delete a course{% endblock %}

{% block content %}
	<form action="/remove/{{ id }}" method='post' id='remove_course'>
		{% csrf_token %}
		<h3>Are you sure you want to delete the following course?</h3>
		<div>
			<label for="course_name" class='label'>Name:</label>
			<input type="text" class='data_input' name='course_name' value='{{ course }}'>
		</div>
		<div>
			<label for="course_desc" class='label'>Description:</label>
			
			<textarea name="course_desc" class='data_input' id="course_desc" value='{{ description }}'>{{ description|safe }}</textarea>
			<input type="submit" name='keep' value='No' id="keep">
			<input type="submit" name='delete' value='Yes! I want to delete this' id='del'>
		</div>
	</form>
	
{% endblock %}