.index_h3{
	margin-top: 25px;
}
.register, .login{
	display: inline-block;
	vertical-align: top;
	width: 45%;
	padding: 10px;

	border: 1px solid black;	
}

nav{
	margin-bottom: 25px;
	text-align: right;
}
fieldset input:not[type='submit']{

	border: 1x solid black;
	float: right;
	margin-bottom: 10px;
}
form input{
	border: 1px solid black;

}
form label{
	margin-bottom: 10px;
	width: 125px;
	border: 1px solid white;
}
form label, form input{
	display: inline-block;
}
.register{
	margin-right: 15px;
}
.register input:nth-of-type(7){
	width: 75px;
	}

.right{
	float: right;
	margin-right: 15px;
	padding: 1px 5px 1px 5px;
	box-shadow: 3px 3px black;
}
#reg{
	margin-top: 50px;	
}
#log{
	margin-top: 25px;
}
.quotes_left, .quotes_right{
	display: inline-block;
	vertical-align: top;
	
	width: 45%;
}
.quotes_left{
	margin-right: 0 15px 10px 0;
}
#addQuote{
	display: block;
	margin: 0 !important;
	
	padding: 10px;

}
.addQuote_div{
	border: 1px solid black;
	margin-bottom: 10px;
}
textarea[id='quote']{
	border: 1px solid black;
}
.quotes_left, #addQuote{
	overflow: auto;
}