.main{
	height: 300px;
}
p{
	text-align: center;
}
/*.valid{
	visibility: hidden;
}
.notvalid{
	display: block;
	visibility: visible;
	margin: auto;
	margin-top: 35px;
	padding: 10px;
	text-align: center;
	width: 400px;
	border: 1px solid black;
	background-color: red;
	color: white;

}*/
.email{
	width: 350px;
	margin: 35px 0 25px 20px;
	border: 1px solid black;
}

.success{
	display: block;
	margin: auto;
	margin-top: 35px;
	padding: 10px;
	text-align: center;
	/*width: 400px;*/
	width: 80%;
	border: 1px solid black;
	background-color: green;
	color: black;
}
/*.show{
	visibility: visible;
}
.hide{
	visibility: hidden;
}*/
form h3{
	text-align: left;
	margin: 25px 0 0 50px;
	text-decoration: underline;
}
.address_title{
	margin: 5px 0 0 60px;
}
.email_list{
	height: 150px;
	overflow: auto;
}
span{
	display: inline-block;
}
.address{
	width: 250px;
	text-align: left;
	margin: 5px 0 0 100px;
}
.date{
	width: 185px;
	margin-left: 115px;
}
.delete{
	width: 75px;
	margin-left: 25px;
	border: 1px solid red;
}
.add{
	text-align: center;
}
.return{
	margin: auto;
	margin-top: 15px;
	text-align: center;
}

.return input{
	text-align: center;
	width: 100px;
	border: 1px solid red;
}