<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Default Title{% endblock %}</title>
		{% load staticfiles %}
		
		{% block link_css%}
			<script type="text/javascript" src='{% static 'quotes/js/jquery.js' %}'></script>
			<script type='text/javascript' src='{% static 'quotes/js/jquery-ui.min.js' %}'></script>
			<link rel='stylesheet' type='text/css' href='{% static 'quotes/css/jquery-ui.min.css' %}' />
			<link rel="stylesheet" href="{% static 'quotes/css/base.css' %}" media="screen" title="no title"  charset="utf-8">

		{% endblock %}
</head>
<body>
	<div class="container">
		
		<div class="header">		
			<h4>{% block templatehead %}Default Template{% endblock %}</h4>
			<ul>
				<li>&#x21e6;</li>
				<li>&#x21e8;</li>
				<li>&#x2716;</li>
				<li><img src="{% static "quotes/images/home.png" %}" alt="home icon"></li>
			</ul>
			<input type="text" id="nav" value="http://localhost/main">
			<input type="text" id="search">
		</div>

		<div class='main'>
			{% block content %}

            {% endblock %}
		</div>

		<div class='footer'></div>
	</div>
	
</body>
</html>
