{% extends 'quotes/base.html' %}
<!-- this template uses the base.html template for appearance -->
{% load staticfiles %}

{% block title %}Login/Registration{% endblock %}

<!-- link to css file for this page -->
{% block link_css%}
	{{ block.super }}
	


	<link rel="stylesheet" href="{% static 'quotes/css/styles.css' %}" media="screen" title="no title"  charset="utf-8">

	<script>
	

		$(document).ready(function(){
		    $( ".datepicker" ).datepicker({
				showOn: "button",
				buttonImage: "{% static 'quotes/images/calendar.gif' %}",
				buttonImageOnly: true,
				buttonText: "Select date",
				changeYear: true,
				yearRange: "1900:2050",

			});
			$(".datepicker").datepicker("getDate");
		} );
  	
	</script>

{% endblock %}

{% block templatehead %}Login/Registration{% endblock %}

{% block content %}
	<h3 class='index_h3'>Welcome!</h3>

	<div>
	<fieldset class='register'>
		<legend>Register</legend>
		<form action="{% url 'register' %}" method='post'>
			{% csrf_token %}
			<label for={{ regForm.name }} Name:</label>
		    {{ regForm.name }}
		    <label for={{ regForm.alias }} Alias:</label>
		    {{ regForm.alias }}
		    <label for={{ regForm.email }}Email:</label>
		    {{ regForm.email }}
		    <label for= {{ regForm.password }}Password:</label>
		    {{ regForm.password}}
		    <p>*Password should be at least 8 characters.</p>
		    <label for={{ regForm.password_confirm }}Confirm PW:</label>
		    {{ regForm.password_confirm}}
		    <!-- <label for={{ regForm.birthdate}}Date of Birth:</label>
		    {{ regForm.birthdate}} -->
		    <label for='birthdate'>Date of Birth:</label>
		    <input type="text" class="datepicker" name='birthdate'>
			 
					
			<!-- {{ regForm.as_table }} -->
			<input type="submit" class='right' value='Register' id='reg'>
		</form>
	</fieldset>
	
	<fieldset  class='login'>
		<legend>Login</legend>
		<form action="{% url 'login' %}" method='post'>
			{% csrf_token %}		
			{{ loginForm.as_p }}
		<input type="submit" class='right' value='Login' id='log'>
		</form>
	</fieldset>
	</div>
	
	<!-- <div class='err_msg'> -->
		<!-- paragraphs will be dynamically rendered for error messages -->
		{{ msg | safe }}

	



{% endblock %}