{% extends 'quotes/base.html' %}
<!-- this template uses the base.html template for appearance -->
{% load staticfiles %}

{% block title %}Quotes{% endblock %}

<!-- link to css file for this page -->
{% block link_css%}
	{{ block.super }}

	<link rel="stylesheet" href="{% static 'quotes/css/styles.css' %}" media="screen" title="no title"  charset="utf-8">
{% endblock %}

{% block templatehead %}Quotes{% endblock %}


{% block content %}
	<nav class='home_nav'>
		<a href="{% url 'home' %}">Dashboard</a>		
		<a href="{% url 'logout' %}">Logout</a>
	</nav>

	<h3 class='home_h3'>Posts by {{ user.alias }}!</h3>

	<h3>Count: {{ quotes.count }}</h3>
	
	<div>
		
		{% for quote in quotes %}
			<p>
				<span class='author'>{{ quote.author }}: </span>
				{{ quote.quote}}
			</p>
		
		{% endfor %}
	</div>	
	
	

{% endblock %}